body{
    background-color: #1f1c1c;
    color: aliceblue;
}

#analyze_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 250px;
}

#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}